#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Wed Apr 19 15:40:27 2023

@author: arturoaltamirano808
"""

{% extends 'base.html' %}

{% block content %}


<style>
  header, section, aside, footer {
    color: white;
    padding: 10px;
    font-size: 28px;
    margin-bottom: 20px;
    border: 3px solid white;
  }
  
 button {
       width: 25%;
       align-items: center;
       justify-content: center;
       margin-bottom: 10px;
       padding: 10px;
       box-sizing: border-box;
     }
</style>

<header>
  <code>Message Sent!</code>
</header>

<section>
  <code>Sent to: {{email}}</code>
</section>

<aside>
  <code>Message sent: {{response}}</code>
</aside>

<footer>
  <code>Thank you for taking time to interact with this application.</code>
</footer>

{% if route == 'manager' %}
  <a href="{{ url_for('manager') }}"><button>Generate another review?</button></a>
  
{% else %}
   <a href="{{ url_for('customer') }}"><button>Generate another review?</button></a>
{% endif %}






{% endblock %}