#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Wed Mar 15 22:12:10 2023

@author: arturoaltamirano808
"""

{% extends 'base.html' %}

{% block content %}

<title>{% block title %}Manager{% endblock %}</title>
    <style>
        form {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              color: white;
              font-size: 16px;
              padding-top: 20px;
              margin-top: 10px;
              width: 100%;
              height: 85%;
              justify-content:space-around;
            }

        button {
              width: 25%;
              align-items: center;
              justify-content: center;
              margin-bottom: 10px;
              padding: 10px;
              box-sizing: border-box;
            }

        label {
             margin-bottom: 5px;
             justify-content:space-around;
           
            }

        input, select {
              width: 30%;
              height: 5%;
              text-align: center;
              justify-content:space-around;
            }

        option {
              display: flex;
             flex-direction: column;
              align-items: center;
              justify-content: center;
              margin: auto;
              color: white;
              font-size: 18px;
              padding: 20px;
              margin-bottom: 20px;
              width: 200px;
              justify-content:space-around;
            }
    </style>
  </head>
  <body>

    <form method="post">
      Enter your reservationID: <input name="reservation"> <br><br>

      <label for="location">Select your location:</label>
<select name="location" id="location">
  {% for option in optionlocation %}
    <option value="{{ option[0] }}" {% if option[0] == 'option2' %}selected{% endif %}>{{ option[1] }}</option>
  {% endfor %}
</select>

      Enter your customer: <input name="customer"> <br><br>

       <label for="order">Select your name:</label>
 <select name="manager" id="manager">
   {% for option in optionmanager %}
     <option value="{{ option[0] }}" {% if option[0] == 'option2' %}selected{% endif %}>{{ option[1] }}</option>
   {% endfor %}
 </select>

      Enter your email: <input name="email"> <br><br>

      <label for="order">Select the customer's order:</label>
<select name="order" id="order">
  {% for option in options %}
    <option value="{{ option[0] }}" {% if option[0] == 'option2' %}selected{% endif %}>{{ option[1] }}</option>
  {% endfor %}
</select>
      
      Enter descriptors: <input name="descriptor"> <br><br>

      <button type="submit">submit</button>
    </form>
  </body>
</html>

{% endblock %}